packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/app.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/app.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/app.log

  "/var/log/app.log" :
    mode: "000666"
    owner: root
    group: root
    content: |
      created by .ebextensions

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart